<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta
    content="Have experience in creation web apps with Python and Django, JavaScript and React.js or Node.js + Express.js, RDBMS like PostgreSQL and NoSQL like MongoDB with mongoose."
    name="description">
  <meta name="google" content="notranslate" />
  <meta name="theme-color" content="#1D3461">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <title>Nikita Kukshynsky</title>

  <link href="./static/assets/main.d8e0d294.css" rel="stylesheet">
  <link href="./static/assets/styles.css" rel="stylesheet">
  <link rel="icon" href="./static/assets/favicon.ico" type="image/x-icon" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8MLDJDN8DJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-8MLDJDN8DJ');
  </script>
</head>

<body>
  <style>
    @media (max-width: 780px) {
      header {
        display: none;
      }

      main {
        margin-top: 15px;
      }
    }
  </style>
  <div class="background-color-layer" style="background-image: url('./static/assets/images/chicago.jpg')"></div>
  <main class="content-wrapper">
    <header class="white-text-container section-container">
      <div class="text-center">
        <h1>Nikita Kukshynsky</h1>
        <p>Software Engineer, Chicago</p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://github.com/enkeipy/" target="_blank" title='My GitHub page'>
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </header>


    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="card">
            <div class="card-block">
              <h2>About me</h2>
              <div class="row">
                <div class="col-md-12">
                  <p>
Hi! My name is Nikita, I'm a self-taught coder. Love to code with Python and JavaScript, started to learn C#.
Develop web apps with Django, Node.js, WordPress and ASP.NET. Use tools like SQL, Linux, Git, HTML/CSS, Bootstrap, EC2/LightSail/AWS.
Back-end developer with interest to front-end: React/Redux and Angular.
                  </p>
                  <p>
                    • Contact me: <a href="mailto: nikita.config@gmail.com">nikita.config@gmail.com</a></br>
                    • Visit my <a href="https://blog.enkeipy.com/" target="_blank">Blog</a></br>
                    • See my projects below and stay safe!
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <div class="row">

                <div class="col-md-4">
                  <a target="_blank" href="http://ssenkeipy.pythonanywhere.com/"><img
                      src="./static/assets/images/simplesocial.jpg" class="img-responsive portfo" alt="">
                    <h3 class="h5">Social App</h3>
                  </a>
                  <p>Simple social app with users and discussion groups <a target="_blank"
                      href="https://github.com/enkeipy/django-simle-social">GitHub</a></p>
                </div>

                <div class="col-md-4">
                  <a target="_blank" href="https://github.com/enkeipy/blog"><img
                      src="./static/assets/images/blog.jpg" class="img-responsive portfo" alt="">
                    <h3 class="h5">Blog</h3>
                  </a>
                  <p>Nice and simple blog <a target="_blank" href="https://github.com/enkeipy/blog">GitHub</a>
                  </p>
                </div>

                <div class="col-md-4">
                  <a target="_blank" href="http://kukshinskiy.pythonanywhere.com/"><img
                      src="./static/assets/images/quotes.jpg" class="img-responsive portfo" alt="">
                    <h3 class="h5">Quote Request</h3>
                  </a>
                  <p>Designed for small business owners to receive quote requests from customers <a target="_blank"
                      href="https://github.com/enkeipy/django_quote_request">GitHub</a></p>
                </div>

              </div>
              <div class="row">
                <div class="col-md-4">
                  <a target="_blank" href="http://superlists.enkeipy.com/"><img
                      src="./static/assets/images/tdd-todolist.jpg" class="img-responsive portfo" alt="">
                    <h3 class="h5">TDD To Do List</h3>
                  </a>
                  <p>To Do List made with TDD development technique <a target="_blank"
                      href="https://github.com/enkeipy/tdd-tododjango">GitHub</a></p>
                </div>
                <div class="col-md-4">
                  <a target="_blank" href="https://salty-caverns-00760.herokuapp.com/"><img
                      src="./static/assets/images/email.jpg" class="img-responsive portfo" alt="">
                    <h3 class="h5">Newsletter</h3>
                  </a>
                  <p>MailChimp API with Express.js <a target="_blank"
                      href="https://github.com/enkeipy/express-emarketing">GitHub</a></p>
                </div>
                <div class="col-md-4">
                  <a target="_blank" href="https://rocky-stream-43837.herokuapp.com/"><img
                      src="./static/assets/images/express-todo.jpg" class="img-responsive portfo" alt="">
                    <h3 class="h5">Express To Do List</h3>
                  </a>
                  <p>To Do List built with Express, Passport, Express-Session, Mongoose <a target="_blank"
                      href="https://github.com/enkeipy/express-todolist">GitHub</a></p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </main>
  <footer class="footer-container white-text-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p><a href="http://www.mashup-template.com/"
              title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/"
              title="Beautiful Free Images">Unsplash</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      scrollRevelation('.card');
    });
  </script>
  <script type="text/javascript" src="./static/assets/main.bc58148c.js"></script>
</body>

</html>
