<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Nikita Kukshinski</title>

  <link href="./static/assets/main.d8e0d294.css" rel="stylesheet">
  <link href="./static/assets/styles.css" rel="stylesheet">
</head>

<body>

  <div class="background-color-layer" style="background-image: url('./static/assets/images/chicago.jpg')"></div>
  <main class="content-wrapper">
    <header class="white-text-container section-container">
      <div class="text-center">
        <h1>Nikita Kukshinski</h1>
        <p>Web Developer, Chicago</p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/enkeipy/" target="_blank"
            title="My LinkedIn page">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://github.com/enkeipy/" target="_blank" title='My GitHub page'>
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </header>


    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="card">
            <div class="card-block">
              <h2>About me</h2>
              <div class="row">
                <div class="col-md-12">

                  <p>Primary work with Python, JavaScript, Django, SQL, MongoDB, REST API, jQuery, Bootstrap, AJAX,
                    HTML, CSS, Git, Linux. Have some experience with MERN Stack. Have worked with WordPress, PHP and
                    JavaScript over one year while maintaining and developing news website with above 3 M visitors per
                    month. </p>

                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h2>Current Projects</h2>
              <div class="row">

                <div class="col-md-4">
                  <a target="_blank" href="https://rocky-stream-43837.herokuapp.com/"><img
                      src="./static/assets/images/express-todo.jpg" class="img-responsive portfo" alt=""></a>
                  <h3 class="h5"><a target="_blank" href="https://rocky-stream-43837.herokuapp.com/">Express To Do
                      List</a></h3>
                  <p>Express.js + Passport.js + MongoDB</p>
                </div>

                <div class="col-md-4">
                  <a target="_blank" href="http://ssenkeipy.pythonanywhere.com/"><img
                      src="./static/assets/images/simplesocial.jpg" class="img-responsive portfo" alt=""></a>
                  <h3 class="h5"><a target="_blank" href="http://ssenkeipy.pythonanywhere.com/">Django Social</a></h3>
                  <p>Python + Django</p>
                </div>

                <div class="col-md-4">
                  <a target="_blank" href="http://superlists.enkeipy.com/"><img
                      src="./static/assets/images/tdd-todolist.jpg" class="img-responsive portfo" alt=""></a>
                  <h3 class="h5"><a target="_blank" href="http://superlists.enkeipy.com/">Django TDD To Do
                      List</a></h3>
                  <p>Python + Django</p>
                </div>



              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <h2>Past Projects</h2>
              <div class="row">
                <div class="col-md-4">
                  <a target="_blank" href="https://salty-caverns-00760.herokuapp.com/"><img
                      src="./static/assets/images/signUP.jpg" class="img-responsive portfo" alt=""></a>
                  <h3 class="h5"><a target="_blank" href="https://salty-caverns-00760.herokuapp.com/">Newsletter</a>
                  </h3>
                  <p>Express.js + MailChimp API</p>
                </div>
                <div class="col-md-4">
                  <a target="_blank" href="http://kukshinskiy.pythonanywhere.com/"><img
                      src="./static/assets/images/quotes.jpg" class="img-responsive portfo" alt=""></a>
                  <h3 class="h5"><a target="_blank" href="http://kukshinskiy.pythonanywhere.com/">Quote Request</a></h3>
                  <p>Python + Django</p>
                </div>
                <div class="col-md-4">
                  <a target="_blank" href="https://minsknews.by/"><img src="./static/assets/images/minsknews.jpg"
                      class="img-responsive portfo" alt=""></a>
                  <h3 class="h5"><a target="_blank" href="https://minsknews.by/">News Agency Minsknews.by</a></h3>
                  <p>WordPress and PHP, JS, SQL, API, RSS, SEO</p>
                </div>
                <div class="col-md-4">
                  <a target="_blank" href="https://nimbus-sten.ru/"><img src="./static/assets/images/nimbus.jpg"
                      class="img-responsive portfo" alt=""></a>
                  <h3 class="h5"><a target="_blank" href="https://nimbus-sten.ru/">Nimbus Design</a></h3>
                  <p>WordPress and PHP, SEO</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </main>
  <footer class="footer-container white-text-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>©Thanks for design <a href="http://www.mashup-template.com/"
              title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/"
              title="Beautiful Free Images">Unsplash</a></p>
          <p>
            <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/enkeipy/" target="_blank"
              title="My LinkedIn page">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="fa-icon fa-icon-2x" href="https://github.com/enkeipy/" target="_blank" title='My GitHub page'>
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      scrollRevelation('.card');
    });
  </script>
  <script type="text/javascript" src="./static/assets/main.bc58148c.js"></script>
</body>

</html>